/* Sidebar width modifications */
@media (min-width: 76.25em) {
  .md-header__inner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .md-main__inner {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .md-sidebar--primary {
    width: 350px; /* default ~256px */
  }
  .md-sidebar--secondary {
    width: 250px; /* default ~280px */
  }
  .md-typeset img {
    max-width: 100%;
    height: auto;
  }
  .md-typeset .grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .md-typeset .grid img {
    max-width: 100% !important;
    width: auto !important;
  }
}
